$duration: 0.3s;

.modal{
  width: 100%;
  min-width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 1000;

  &-enter,
  &-leave-to{
    opacity: 0;
    transform: scale(1.1);
  }

  &-enter-active,
  &-leave-active{
    @include transition($duration);
  }

  .layout{
    background-color: rgba(0,0,0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .close{
    position: absolute;
    top: -40px;
    right: -4px;
    cursor: pointer;
    width: 26px;
    height: 26px;

    &:after,
    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: white;
      position: absolute;
      bottom: 50%;
      left: 0;
    }
    &:after{
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    &:before{
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }

  .popup{
    @include centered();
    background-color: white;
    width: 400px;
    height: 400px;

    &_lg{
      position: absolute;
      z-index: 1;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      width: 600px;
      background-color: white;
    }

    &_thanks{
      @include centered();
      background-color: white;
      width: 400px;
      height: 400px;
    }
  }

  .fade{
    &-enter,
    &-leave-to{
      opacity: 0;
    }

    &-enter-active,
    &-leave-active{
      @include transition($duration);
    }
  }
}